<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Goat Light</title>

    <link rel="stylesheet" href="/static/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/goatlight.css">
</head>
<body>
    <main role="main" class="container">
        <h1 class="mt-5">Goat Light</h1>
        <br>
        <button id="light-button" type="button" class="btn btn-info">Turn light on</button>
    </main>

    <script src="/static/jquery-3.3.1.js"></script>
    <script src="/static/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <script src="/static/goatlight.js"></script>
</body>
</html>